.card {
  display: flex;
  
  width: 292px;
  min-width: 292px;
  padding: 0 15px 30px;

  &:hover,
  &:focus {
    .card__container {
      box-shadow: 0 9px 25px 0px rgba(0,0,0,.2);
    }
    .card__favourites {
      opacity: 1;
    }
  }

  &__container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 264px;
    min-height: 100%;
    padding-bottom: 15px;

    border-radius: 3px;
    border: 1px solid #efefef;
    box-shadow: 0 9px 25px 0px rgba(0,0,0,.1);
  }
  

  &__img {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 246px;

    transition-property: opacity;
    transition-duration: 0.3s;

    overflow: hidden;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    img {
      display: block;
      vertical-align: middle;

      max-width: 100%;
      height: auto;

      object-fit: contain;
    }
  }

  &__marks {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__mark {
    min-height: 35px;
    margin-bottom: 4px;

    span {
      display: none;
      vertical-align: baseline;

      padding: 12px 18px;

      @include font-main(12px, 1, 800, $white);
      letter-spacing: 0.01em;
      text-transform: uppercase;

       border-radius: 3px;
    }

    &--discount span {
      background-color: $green;
    }

    &--hit span {
      background-color: $light-blue;
      background-image: linear-gradient(-90deg, $dark-blue 0%, $light-blue 100%);
    }

    &--active span {
      display: inline-block;
    }
  }

  &__likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 0 18px;
  }

  &__stars {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 86px;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__star {
    width: 15px;
    height: 15px;
    margin-right: 3px;

    &:last-child {
      margin-right: 0;
    }

    svg {
      fill: $orange;
    }
  }
  &__favourites {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;
    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.3s;

    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
      svg {
        transform: scale(1.2);
      }
    }

    svg {
      fill: #009ee2;

      transition-property: transform, fill;
      transition-duration: 0.3s;
    }

    &--active {
      opacity: 1;

      svg {
        fill: red;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 2;

    width: 100%;
    padding: 0 18px;
  }

  &__title {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    margin: 0 0 8px;
    padding: 0;

    @include font-main(16px, 20px, 600, $dark);
    letter-spacing: 0.025em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 0.3s;

    &:hover,
    &:focus {
      color: #009ee2;
    }
  }

  &__price {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    min-height: 25px;
    margin: 0;
    padding: 0 0 0 2px;

    @include font-main(18px, 22px, 800, $dark);
    letter-spacing: 0.025em;
  }

  &__new-price {
    margin: 0 15px 0 0;
  }

  &__old-price {
    margin: 0 15px 0 0;

    @include font-main(14px, 22px, 600, #6d6d6d);
    letter-spacing: 0.025em;
    text-decoration: line-through;
  }

  &__benefit {
    width: 100%;
    @include font-main(12px, 22px, 600, $green);
    letter-spacing: 0.025em;
  }

  &__btn {
    width: 100%;
    margin-top: auto;
    padding-right: 10px;
    padding-left: 10px;

    background-color: #009ee2;
    background-image: linear-gradient(-90deg, $dark-blue 0%, $light-blue 100%);

    cursor: pointer;

    &:hover,
    &:focus {
      background-image: none;
    }
  }

  &--advertising {

    &:hover,
    &:focus {
      .card__img {
        opacity: 0.5;
      }

      .card__text {
        text-decoration: underline;
      }
    }

    .card__container {
      text-decoration: none;

      background-color: #009ee2;
      background-image: radial-gradient(circle at 80% 55%, #74dbff, #048ac3);
    }

    .card__img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
      }
    }

    .card__content {
      position: relative;
      z-index: 2;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      width: 100%;
      min-height: 100%;
      padding: 21px 18px 8px;
    }

    .card__title {
      display: inline-block;
      vertical-align: baseline;

      width: 100%;
      max-width: 100%;
      margin: 0 0 8px;
      padding: 0 10px;

      @include font-main(33px, 1.2, 800, $white);
      letter-spacing: 0.025em;
    }

    .card__text {
      width: 120px;
      margin: 0;
      padding: 0 10px;

      @include font-main(22px, 30px, 600, $font-light-blue);
      letter-spacing: 0.025em;
    }

    .card__discount {
      margin: auto 0;
      padding: 18px 0 0;

      @include font-main(90px, 130px, 800, $white);
      opacity: 0.2;
    }

    .card__price {
      width: 100%;
      margin: auto 0 0;
      padding: 0 10px;

      @include font-main(30px, 1.2, 400, $white);
      letter-spacing: 0.025em;
    }
  }
}


