html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  width: 100%;

  @include font-main(14px, 25px, 600, $dark);
}

.sprite {
  display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  min-height: 100vh;

  overflow-x: hidden;
}

main {
  flex-grow: 2;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;

  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.col-3 {
  width: 25%;
  padding: 0 15px;
}

.col-9 {
  width: 75%;
  padding: 0 15px;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
}

.col-12 {
  width: 100%;
  padding: 0 15px;
}

.col-np {
  padding: 0;
}

.img-offset-top {
  top: -15px;
}

.img-offset-bottom {
  bottom: -15px;
}

.img-right {
  right: 0;
}

.img-offset-right {
  right: -15px;
}

.img-offset-right-left {
  right: 15px;
}


