$desktop: 1199px;
$laptop: 1023px;
$tablet: 991px;
$mobile: 767px;
$width-min: 320px;

/*Шрифты*/
$font-main: "Panton", "Arial", sans-serif;

/*Цвета*/
$white: #ffffff;
$grey: #efefef;
$dark-grey: #6d6d6d;
$dark: #1d1e1e;
$blue: #009be1;
$light-blue: #33b9e9;	
$dark-blue: #088ec7;
$font-light-blue: #4bd1fe;
$font-blue: #009ee2;
$header-logo-color: #0086c0;
$green: #00963f;
$orange: #ffb400;