.promo-banners
  ul.promo-banners__list
    
    li.promo-banners__item
      .promo-banners__img.img-offset-right.img-offset-bottom
        +picture-jpg-png("rawbite", 160, 171, "Новыe приманки для подледной ловли")
      .promo-banners__content
        a.promo-banners__title(href="#") Новыe приманки
        a.promo-banners__text(href="#") для подледной ловли
        a.promo-banners__btn.button-round(href="#" title="Купить")

    li.promo-banners__item
      .promo-banners__img.img-offset-right.img-offset-bottom
        +picture-jpg-png("catalog", 162, 186, "Скачайте каталог для оптовиков")
      .promo-banners__content
        a.promo-banners__title(href="#") Скачайте каталог
        a.promo-banners__text(href="#") для оптовиков
        a.promo-banners__btn.button-round(href="#" title="Купить")

    li.promo-banners__item
      .promo-banners__img.img-right.img-offset-bottom
        +picture-jpg-png("experts", 194, 192, "Эксперты отвечают на выши вопросы")
      .promo-banners__content
        a.promo-banners__title(href="#") Эксперты отвечают
        a.promo-banners__text(href="#") на ваши вопросы           
        a.promo-banners__btn.button-round(href="#" title="Купить")