.promo-slider
  ul.promo-slider__list.swiper-wrapper
    li.promo-slider__item.swiper-slide
      .promo-slider__img
        +picture-jpg-png("adrenalin-7300-bc", 847, 441, "катушка Adrenalin 7300 BC")
      .promo-slider__container  
        .promo-slider__content  
          a.promo-slider__category(href="#") Специальные предложения
          a.promo-slider__name(href="#") катушка Adrenalin 7300 BC
          span.promo-slider__price 5 600 р.
          a.promo-slider__btn.button(href="#") Купить
    li.promo-slider__item.swiper-slide
      .promo-slider__img
        +picture-jpg-png("adrenalin-7300-bc", 847, 441, "катушка Adrenalin 7300 BC")
      .promo-slider__container  
        .promo-slider__content  
          a.promo-slider__category(href="#") Специальные предложения
          a.promo-slider__name(href="#") катушка Adrenalin 7300 BC
          span.promo-slider__price 5 600 р.
          a.promo-slider__btn.button(href="#") Купить
    li.promo-slider__item.swiper-slide
      .promo-slider__img
        +picture-jpg-png("adrenalin-7300-bc", 847, 441, "катушка Adrenalin 7300 BC")
      .promo-slider__container  
        .promo-slider__content  
          a.promo-slider__category(href="#") Специальные предложения
          a.promo-slider__name(href="#") катушка Adrenalin 7300 BC
          span.promo-slider__price 5 600 р.
          a.promo-slider__btn.button(href="#") Купить      
  .promo-slider__pagination.swiper-pagination      