.customers-nav
  .customers-nav__container.container
    ul.customers-nav__list
      each item in customersHeaderItems
        li.customers-nav__item
          a.customers-nav__link(href="#") !{item}
    .customers-nav__phone 
      span бесплатно по России
      p
        a(href="tel:88000000000") 8-800-000-00-00