.main-nav {
  min-height: 60px;
  margin-bottom: 15px;

  background-color: $grey;

  &__catalog {
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    min-height: 60px;
    height: 100%;

    background-color: #009ee2;
    background-image: linear-gradient(-90deg, $dark-blue 0%, $light-blue 100%);
    border-radius: 3px;

    &:hover,
    &:focus {
      background-image: none;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      @include button-reset;

      width: 60px;
      height: 60px;

      background-color: transparent;

      cursor: pointer;
      outline: none;

      span {
        position: relative;

        width: 25px;
        height: 3px;

        background-color: $white;

        &::before,
        &::after {
          position: absolute;
          left: 0;
          top: -8px;

          width: 25px;
          height: 3px;

          background-color: $white;

          content: "";
        }

        &::after {
          top: 8px;
        }
      }
    }

    a {
      position: relative;

      display: inline-flex;
      justify-content: flex-start;
      align-items: center;

      min-height: 60px;
      height: 100%;
      padding: 10px 45px 10px 5px;

      @include font-main(18px, 25px, 700, $white);
      letter-spacing: 0.05em;
      text-decoration: none;

      &::after {
        position: absolute;
        top: calc(50% - 6px);
        right: 15px;

        width: 11px;
        height: 11px;

        border-left: 2px solid $white;
        border-bottom: 2px solid $white;
        opacity: 0.3;

        transform: rotate(-45deg);

        background-color: transparent;

        content: "";
      }
    }
  }

  &__list {
    @include menu-list;
  }

  &__item {
    margin-right: 8%;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    min-height: 60px;
    padding: 10px;

    @include font-main(14px, 25px, 700, $dark);
    text-decoration: none;
    text-transform: uppercase;

    transition-property: color;
    transition-duration: 0.3s;

    overflow: hidden;

    &:hover {
      color: $font-blue;
      
      &::before {
        top: -9px;
      }
    }

    &::before {
      position: absolute;
      top: -25px;
      left: calc(50% - 9px);

      width: 18px;
      height: 18px;

      transform: rotate(45deg);

      background-color: $white;

      transition-property: top;
      transition-duration: 0.3s;

      content: "";
    }
  }
}