.user-nav {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 124px;
  }

  &__logo {
   width: 292px;
   margin-top: 14px;

    a {
      display: block;

      text-decoration: none;

      transition-property: opacity;
      transition-duration: 0.3s;

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }

    svg {
      width: 100%;
      fill: $header-logo-color;
    }
  }

  &__search {
    flex-grow: 2;

    padding: 15px 0;

    form {
      position: relative;

      width: 100%;
    }

    input {
      width: 100%;
      margin: 0;
      padding: 7.5px 25px;

      @include font-main(14px, 25px, 400, $dark);
      letter-spacing: 0.05em;

      background-color: transparent;
      border: 1px solid #dddddd;
      border-radius: 4px;
    }

    button {
      position: absolute;
      right: 1px;
      top: 1px;
      z-index: 2;

      display: flex;
      justify-content: center;
      align-items: center;

      height: calc(100% - 2px);
      width: 50px;
      padding: 0;
      margin: 0;

      border: none;
      background-color: transparent;

      cursor: pointer;

      &:hover,
      &:focus {
        svg {
          fill: $dark-blue;
        }
      }

      svg {
        width: 20px;
        height: 20px;

        transition-property: fill;
        transition-duration: 0.3s;
      }
    }
  }

  &__list {
    @include menu-list;
    padding: 0;
  }

  &__item {
    margin-left: 30px;

    &__first-child {
      margin-left: 0;
    }
  }

  &__link {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 67px;
    height: 67px;
    padding: 15px;

    text-decoration: none;

    &:hover,
    &:focus {
      svg {
        fill: $dark-blue;
      }
    }

    svg {
      max-width: 28px;
      max-height: 28px;

      transition-property: fill;
      transition-duration: 0.3s;
    }

    span {
      position: absolute;
      top: 10px;
      right: 7px;

      @include font-main(16px, 25px, 600, #009ee2);
      letter-spacing: 0.025em;
    }
  }
}
