ul.social
	li.social__item
		a.social__link(href="#" title="Вконтакте" target="_blank")
			+svg("vk", 23, 14)
	li.social__item
		a.social__link(href="#" title="Facebook" target="_blank")
			+svg("fb", 11, 19)
	li.social__item
		a.social__link(href="#" title="Instagram" target="_blank")
			+svg("instagram", 19, 19)