extends pug/layout

block variables
  -let title = "Главная";

  -let customersHeaderItems = ["Доставка", "Оплата", "Возврат", "Оптовым покупателям"];
  -let customersFooterItems = ["Каталог", "Оплата", "Доставка", "Возврат", "Помощь"];
  -let companyMenuItems = ["О компании", "Акции", "Новости", "Блог", "Эксперты", "Контакты"];
  -let catalogMenuItems = [{name: "Катушки", submenu: ["Безынерционные", "Мультипликаторные", "Проводные", "Электрические", "Силовые"]}, {name: "Удилища", submenu: ["Безынерционные", "Мультипликаторные", "Проводные", "Электрические", "Силовые"]}, {name: "Приманки", submenu: ["Приманки", "Приманки", "Приманки"]}, {name: "Воблеры", submenu: ["Безынерционные", "Мультипликаторные", "Проводные", "Электрические", "Силовые"]}, {name: "Лески и шнуры", submenu: ["Безынерционные", "Мультипликаторные", "Проводные", "Электрические", "Силовые"]}, {name: "Поплавки", submenu: ["Безынерционные", "Мультипликаторные", "Проводные", "Электрические", "Силовые"]}, {name: "Крючки", submenu: ["Безынерционные", "Мультипликаторные", "Проводные", "Электрические", "Силовые"]}, {name: "Аксессуары", submenu: ["Безынерционные", "Мультипликаторные", "Проводные", "Электрические", "Силовые"]}, {name: "Одежда", submenu: ["Безынерционные", "Мультипликаторные", "Проводные", "Электрические", "Силовые"]}, {name: "Снаряжение", submenu: ["Безынерционные", "Мультипликаторные", "Проводные", "Электрические", "Силовые"]}, {name: "Электроника", submenu: ["Безынерционные", "Мультипликаторные", "Проводные", "Электрические", "Силовые"]}, {name: "Зимняя рыбалка", submenu: ["Безынерционные", "Мультипликаторные", "Проводные", "Электрические", "Силовые"]}, {name: "Другое", submenu: ["Безынерционные", "Мультипликаторные", "Проводные", "Электрические", "Силовые"]}];

block content
  main
    h1.visually-hidden Все для рыбалки
    include components/promo/promo
    include components/products/products
    include components/products/products-2
    include components/news/news
    include components/stock/stock
    include components/about/about
